<div class="product-list-container">
  <div style="margin-top: 2rem;">
    <div style="display: flex; justify-content: space-between; margin-top: 2rem; margin-bottom: 1rem;">
      <button mat-raised-button color="primary" (click)="navigateToAddProduct()">Ajouter un Produit</button>
      <button mat-raised-button color="secondary" (click)="loadProducts()">Actualiser</button>
    </div>
    
    <!-- Filtres -->
    <div style="margin-bottom: 1rem;">
      <form [formGroup]="filterForm">
        <mat-form-field appearance="fill">
          <mat-label>Filtrer par ID de produit</mat-label>
          <input matInput formControlName="produitIdFilter" type="number" placeholder="ID Produit">
        </mat-form-field>
    
        <mat-form-field style="margin-left: 1rem;" appearance="fill">
          <mat-label>Filtrer par nom</mat-label>
          <input matInput formControlName="nameFilter" type="text" placeholder="Nom Produit">
        </mat-form-field>
    
        <button mat-raised-button (click)="resetFilters()" style="margin-left: 1rem;">Réinitialiser les filtres</button >
      </form>
    </div>
    
    


    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      <!-- Nom du produit -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- Description du produit -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <!-- Prix du produit -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix (€) </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product">
          <button mat-button (click)="navigateToProductDetail(product.produitID)">Détails</button>
          <button mat-button (click)="navigateToEditProduct(product.produitID)">Modifier</button>
          <button mat-button color="warn" (click)="deleteProduct(product.produitID)">Supprimer</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="page - 1" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
